@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins';
   text-transform: capitalize;
   text-decoration: none;
}

li {
   list-style-type: none;
   text-transform: capitalize;
}

a {
   text-decoration: none;
   color: #fff;
   /* color: skibidi kkj; */
   text-transform: capitalize;
}

h1,h2,h3,h4,h5,h6,p,a {
   font-family: 'poppins';
}
h1,h2,h3,h4,h5,h6 {
   color: var(--primar-clr);
}

p {
   color: var(--primar-clr-light);
}

body {
   background-color: var(--dark-clr);
}

.logo {
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: bold;
   font-style: oblique;
   color: #fff;
}

/* Variaveis */
:root{
   /* padding */
   --p-xm: 4px;
   --p-sm: 10px 14px;
   --p-md: 12px 16px;
   --p-lg: 16px 24px;
   --container-pad: 60px 40px;
   --section-heading-pad: 44px 40px;

   /* margin */
   --m-xm: 4px 0;
   --m-sm: 8px 0;
   --m-md: 12px 0;
   --m-t-b: 10px 0;
   --m-t-b-md: 20px 0;

   /* cor */
   --primar-clr: #fff;
   --primar-clr-light: #dedede;
   --first-gra-clr: #c32bfb;
   --second-gra-clr: #f818d2;
   --dark-clr: #12011b;
   --light-bg: #493d3d19;

   /* gradient  */
   --gra-white : linear-gradient(45deg, #fff, #dedede);
   --gra-primary:linear-gradient(45deg, #c32bfb, #f818d2);

   /* font-size */
   --font-sm: .8rem;
   --font-nr: 1rem;
   --font-md: 1.2rem;

   /* border radius */
   --border-radius-full: 50%;
   --section-rad: 12px;
   --btn-radius: 4px;
   --card-rad: 8px;

   /* transition */
   --transition-one: all .25s ease;
   --transition-two: all .50s linear;
}

/* Customer Universal Closes */
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   padding: var(--container-pad);
   width: 100%;
}
.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   position: relative;
   width: 1280px;
}

.col {
   flex: 1;
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
}

figure {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

figure img {
   width: 100%;
   object-fit: cover;
}

.section-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1280px;
   padding: var(--section-heading-pad);
   z-index: 100;
}

.section-heading .sub-heading {
   color: var(--primar-clr);
}

.heading-one {
   font-size: 4rem;
   text-transform: capitalize;
   color: var(--primar-clr);
}

.heading-two {
   font-size: 2.8rem;
   text-transform: capitalize;
}

.heading-three {
   font-size: 1.4rem;
   text-transform: capitalize;
}

.heading-one span,
.heading-two span {
   color: var(--first-gra-clr);
}

.btn {
   border: none;
   outline: none;
   background-image: var(--gra-primary);
   color: var(--primar-clr);
   border-radius: var(--btn-radius);
   padding: var(--p-sm);
   text-transform: capitalize;
   font-weight: 500;
   letter-spacing: 1px;
   transition: var(--transition-one);
   font-size: var(--font-nr);
   cursor: pointer;
}
.btn:hover {
   background-image: var(--gra-white);
   color: var(--dark-clr);
}

.clr-one {
   width: 800px;
   height: 800px;
   position: absolute;
   top: -250px;
   left: -400px;
   background-color: var(--first-gra-clr);
   opacity: .4;
   filter: blur(200px);
   border-radius: var(--border-radius-full);
}

.clr-two {
   width: 400px;
   height: 400px;
   background-color: var(--second-gra-clr);
   position: absolute;
   left: 50%;
   border-radius: var(--border-radius-full);
   opacity: .4;
   filter: blur(200px);
}
/* Universal End */

/* Header Section */
:root{
   --w-column: 200px;
}
body{
   margin: 0;
   background-color: #232442;
   color: #fff;
   font-size: 15px;
   font-family: Poppins;
   & *{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       list-style: none;
   }
   header{
       position: fixed;
       z-index: 10;
       width: min(1200px, 90vw);
       height: 70px;
       left: 50%;
       transform: translateX(-50%);
       display: grid;
       grid-template-columns: 1fr calc(var(--w-column) * 3);
       gap: 10%;
       align-items: center;
       & .logo{
           & img{
               width: 50px;
           }
       }
       & nav{
           & ul{
               display: grid;
               grid-template-columns: repeat(3, var(--w-column));
           }
       }
   }
   & .carousel{
      
       height: 100vh;
       overflow: hidden;
       position: relative;
       & .list{
           width: min(1200px, 90vw);
           margin: auto;
           height: 100%;
           position: relative;
           & .item{
               position: absolute;
               inset: 0;
               & figure{
                   position: absolute;
                   width: 70%;
                   top: 50%;
                   transform: translateY(-50%);
                   & img{
                       width: 100%;
                       transform: rotate(-30deg);
                   }
                   &::before{
                       content: '';
                       position: absolute;
                       background-color: #0b0b1b;
                       width: 100%;
                       height: 100px;
                       top: 150%;
                       left: 50px;
                       border-radius: 50%;
                       filter: blur(50px);
                   }
               }
               
               & .content{
                   position: absolute;
                   z-index: 20;
                   width: 70%;
                   height: 100%;
                   right: var(--w-column);
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: end;
                   gap: 20px;
                   & .category{
                       font-weight: 500;
                   }
                   & h2{
                       font-family: 'League Gothic';
                       font-size: 11em;
                       line-height: 1em;
                   }
                   & .description{
                       align-items: center;
                       color: #fff8;
                       max-width: 400px;
                       font-size: small;
                       text-align: right;
                       & i{
                           height: 50px;
                           color: #ffea7c;
                           font-size: 2em;
                           border: 1px solid #659cdf;
                           border-radius: 50%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       }
                   }
               }
               & .more{
                   display: grid;
                   grid-template-columns: repeat(2, 120px);
                   gap: 20px;
                   grid-template-rows: 35px;
                   & button{
                       border-radius: 30px;
                       font-family: 'League Gothic';
                       text-transform: uppercase;
                       color: #fff;
                       background-color: transparent;
                       border: none;
                       position: relative;
                       &:nth-child(1){
                           background-image: linear-gradient(
                               to right, #81baa0, #46a39c
                           );
                       }
                       &:nth-child(2){
                           border: 2px solid transparent;
                           background: linear-gradient(#242745, #242745) padding-box,
                           linear-gradient(to right, #81baa0, #46a39c) border-box;
                           & i{
                               margin-right: 10px;
                           }
                       }
                   }
               }
           }
           &::after{
               content: '';
               position: absolute;
               right: var(--w-column);
               width: var(--w-column);
               height: 100%;  
           }
           
           &::before{
               content: '';
               position: absolute;
               z-index: 10;
               height: var(--w-column);
               width: 100%;
               top: 52%;
           }
       }
   & .arrows{
       width: min(1200px, 90vw);
       display: flex;
       justify-content: space-between;
       position: absolute;
       top: 52%;
       left: 50%;
       transform: translate(-50%, -25px);
       pointer-events: none;
       z-index: 100;
       & button{
           top: 60%;
           width: 50px;
           height: 50px;
           border-radius: 50%;
           border: 1px solid #659cdf55;
           background-color: #232442;
           color: #fff7;
           font-size: large;
           cursor: pointer;
           pointer-events: auto;
           transition: 0.5s;
           &:hover{
               border: 1px solid #659cdf;
               color: #fff;
           }
       }
   }
   & .indicators{
       position: absolute;
       top: 52%;
       height: var(--w-column);
       width: min(1200px, 90vw);
       left: 50%;
       transform: translateX(-50%);
       display: flex;
       flex-direction: column;
       pointer-events: none;
       justify-content: end;
       gap: 10px;
       & .number{
           font-family: 'League Gothic';
           font-size: 7vw;
       }
       & ul{
           display: flex;
           gap: 10px;
           & li{
               width: 50px;
               height: 5px;
               background-color: #659cdf;
               border-radius: 10px;
               pointer-events: auto;
               cursor: pointer;
               transition: 0.5s;
               &.active{
                   background-color: yellow;
               }
           }
           }
       }
   }
}

/* animação */
body{
   .carousel{
       --calculation: 1; /* 1 ou -1 */
       & .list{
           & .item{
               transform: translateX(calc(100vw * var(--calculation)));
               transition:  0.5s;
               opacity: 0;
               & figure{
                   & img{
                       transform: rotate(0deg);
                       transition: transform 0.5s;
                       transition-delay: 0.3s;
                   }
               }
               & .content{
                   & .category, h2, .description, .more{
                       transform: translateX(calc(200px * var(--calculation)));
                       transition:  0.7s;
                       opacity: 0;
                       transition-delay: 0.3s;
                   }
                   & h2{ transition-delay: 0.5s; }
                   & .description{ transition-delay: 0.7s; }
                   & .more{ transition-delay: 0.9s; }
               }
               &.active{
                   opacity: 1;
                   transform: translateX(0);
                   & figure{
                       & img{
                           transform: rotate(-20deg);
                       }
                   }
                   & .content{
                       & .category, h2, .description, .more{
                           transform: translateX(0px);
                           opacity: 1;
                       }
                   }
               }
               &.activeOld{
                   transform: translateX(calc(-100vw * var(--calculation)));
               }
           }
       }
   }
}


.nav nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   width: 100%;
}

.nav nav ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   width: 100%;
}

.nav .nav-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.fa-solid {
   color: var(--primar-clr);
   transition: var(--transition-one);
   cursor: pointer;
}
.fa-solid:hover {
   color: var(--first-gra-clr);
}

header .burger_icon {
   display: none;
}

/* Seção hr */
.col-text {
   align-self: self-start;
   padding-top: 100px;
}

.col-img {
   flex: 1.8;
}

.col-img .hero-img-off {
   width: 260px;
   height: auto;
   padding: 20px 10px;
   background-color: var(--light-bg);
   backdrop-filter: blur(10px);
   word-break: break-all;
   line-height: 1.8;
   border-radius: var(--card-rad);
   position: absolute;
   bottom: 160px;
   left: 400px;
}

.col-img .hero-img-off p {
   font-size: var(--font-sm);
   color: var(--primar-clr-light);
}

.col-img .hero-img-off h3 {
   color: var(--primar-clr);
}

.hero button {
   margin: var(--m-t-b-md);
   width: 200px;
   height: 44px;
   border-radius: 30px;
}

/* nova chegada seção */
.arrival .col {
   border-radius: var(--card-rad);
   padding: var(--p-sm);
}

.arrival .col figure {
   border-radius: var(--btn-radius);
   background-color: var(--light-bg);
}

.col-body {
   padding: .5rem;
   width: 100%;
}

.col-body .rating-icon {
   font-size: var(--font-sm);
}

.col-body .rating-icon .fa-star {
   color: #ffd700;
}

.col-body .sub-heading {
   font-size: var(--font-sm);
   color: var(--primar-clr-light);
}

.col-body .col-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: var(--m-sm);
}

.col-body .col-footer button {
   width: 100px;
   height: 36px;
   font-size: var(--font-sm);
}

/* Sobre nós seção */
.about .wrapper {
   z-index: 100;
}

.about .col-text .sub-heading {
   color: var(--first-gra-clr);
}

.about .col-text .about-text {
   font-size: .9rem;
   margin: var(--m-md);
}

.about .col-text .btn {
   width: 120px;
   height: 40px;
   font-size: var(--font-sm);
   margin: var(--m-t-b);
}

.get-off {
   width: 180px;
   padding: var(--p-sm);
   background-color: var(--light-bg);
   border-radius: var(--btn-radius);
   backdrop-filter: blur(10px);
   bottom: 230px;
   position: absolute;
   left: 40px;
}

.get-off p {
   word-break: break-all;
   font-size: .7rem;
}

/* Nossa melhor coleção */
.collection .grid-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
   gap: 30px;
   padding: 0 30px;
   width: 1280px;
}

.collection .collection-item {
   transition: var(--transition-one);
}

.collection .grid-wrapper .col {
   background-color: var(--light-bg);
   border: 2px solid rgba(220, 35, 186, 0.386);
   /* border: 2px solid var xdxdxd (--gra-primary); */
   border-radius: var(--card-rad);
}

.collection .btn-col.btn {
   color: var(--primar-clr);
   transition: var(--transition-one);
}
.collection .btn-col.btn:hover {
   background-color: var(--primar-clr);
   color: var(--dark-clr);
}

.collection .btn-col {
   margin-right: 5px;
   border: none;
   outline: none;
   border: 1px solid var(--first-gra-clr);
   background-color: transparent;
   color: var(--first-gra-clr);
   width: 120px;
   height: 44px;
   border-radius: var(--btn-radius);
   letter-spacing: 1px;
   cursor: pointer;
   transition: var(--transition-one);
}

.hide {
   display: none;
}


/* Inscrever seção */
.subscribe .wrapper {
   background-image: linear-gradient(45deg, #0202025c, #000000c3), url(/img/subs.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   flex-direction: column;
   border-radius: var(--section-rad);
   padding: 100px;
}

.subscribe form {
   display: flex;
   width: 500px;
   justify-content: center;
   align-items: center;
}

.subscribe form input {
   width: 100%;
   padding: var(--p-sm);
   border: none;
   outline: none;
   border-radius: 4px 0 0 4px;
}

.subscribe form .btn {
   border-radius: 0 4px 4px 0;
   width: 140px;
   height: 40px;
}

/* Footer */
footer {
   background-color: #160021;
}

footer .wrapper .logo {
   color: var(--first-gra-clr);
}

footer .wrapper {
   justify-content: center;
   align-items: center;
}

footer .wrapper .col {
   justify-self: flex-start;
   align-self: flex-start;
   gap: 15px;
}

footer .wrapper .col:nth-child(1) {
   font-size: .9rem;
}

footer a:hover {
   color: var(--first-gra-clr);
}

/* Animação da cor */
.clr-one {
   animation: changing 2.5s linear infinite;
}

.clr-two {
   animation: changing 2.5s linear infinite;
}

@keyframes changing {
   0% {
      background-color: #c32bfb;
   }
   40% {
      background-color: #e30abf;
      opacity: .5;
   }
   60% {
      background-color: #cc41ff;
      opacity: .4;
   }
   80% {
      background-color: #b60af5;
      opacity: .6;
   }
   100% {
      background-color: #c32bfb;
   }
}